body
{
  background: url("sb2.png") no-repeat center fixed ;  
    background-size: cover;
   
}

img.logo
{
    width: 7vw;
    height: 7vw;
    margin-bottom: -1.5vw;
    padding-right: 1.5vw; 
   
  
   
}
h1
{
    font-size: 5vw;
    font-family: 'Bungee Inline', cursive;
    color:rgb(0, 59, 59);
    margin-top: -1.5vw;
    
}
.header
{
    background-color: rgba(42, 177, 170, 0.8) ;
   
    border-radius: 1.2%;
   
}


a.logout
{
   
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color:black;
    font-size: 1.3vw;
    float: right;
    margin-right: 2vw;
    margin-top: -5vw;
    padding-bottom: 1vw;

    
  
   
}



a.logout:hover
{
   
    background-color: rgb(116, 42, 165);
    padding: 0.5vw;
    border-radius: 5%;
    color: darkorange;
  


}
a.back
{
   
    font-family: 'Fredoka One', cursive;
    text-decoration:none;
    color:black;
    font-size: 1.3vw;
    float: right;
    margin-right: 2.8vw;
    margin-top: -8vw;
    padding-bottom: 1vw;


    
  
   
}



a.back:hover
{
   
    background-color: rgb(116, 42, 165);
    padding: 0.5vw;
    border-radius: 5%;
    color: darkorange;
  


}













.appl{
   
    margin-left: 200px;
    width: 1500px;
    padding: 30px;
    
    background: url("q8.png") no-repeat center  ;
    
    background-size: cover;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(36, 0, 94, 0.6) , 0 15px 25px rgba(36, 0, 94, 0.6);
    border-radius: 10px;
  }



  .appl h2 
  {
    margin-top: -2vw;
    margin-bottom: 1%;
    padding: 0;
    color:#0275F4;
    text-align: center;
    font-size: 0.8in;
    font-family: 'Bungee', cursive;
    
  }

  .appl label
  {
    color:#F7FD04;
   
    font-family: 'Akaya Telivigala', cursive;
    font-size: 0.2in;
    font-weight: bold;
  }
  
  .appl input
  {
      width: 50%;
      margin-top: 2PX;
      margin-bottom: 10px;
      padding: 10px;
      border-bottom-color: crimson;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 0.05in;
      background: none;
      border-bottom-right-radius:2% ;
      border-bottom-left-radius: 2%;
  }
  
  .appl input:focus
  {
    background-color:lightcoral;
    
    

  }

 
  .se input
  {
    width: 1%;
   
    
  }
  .as input
  {
    width: 1%;
    
    
  }
  .as
  {
    margin-left: 25%;
    
    

  }
  input[type='text'] 
  {
    
    outline: none;
    font-family: 'Righteous', cursive;
    font-size: 1.2vw;
    color:#00003f;
  }
  input[type='date'],[type='tel'] ,[type='n'],[type='email']
  {
   
    outline: none;
    font-family: 'Righteous', cursive;
    font-size: 1.2vw;
    color:#00003f;
  }
  
 
 
  


  


  .hidden
  {
    display: none;
   }
   .hidden1
   {
    display: none;
   }
   .hidden2
   {
    display: none;
   }
   .hidden3
   {
    display: none;
   }
   .hidden4
   {
    display: none;
   }
   .hidden5
   {
    display: none;
   }
   .hidden6
   {
    display: none;
   }
   .hidden7
   {
    display: none;
   }
   
   .content
   {
    
    font-weight: bold;
    padding-left:100px;
    margin:15px;
   }
   
  
   button
   {
    margin-top: 20px;
    margin-left:40%;
    width:150px;
    height:50px;
    font-family: 'Fredoka One', cursive; 
    font-size: 1.2vw;
    border-radius: 5%;
    cursor: pointer;
    background-color:snow;
    
   }
   .subm button:hover 
   {
    background:chartreuse;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px chartreuse,
                0 0 25px chartreuse,
                0 0 50px chartreuse,
                0 0 100px chartreuse;
  }
  
  .res button:hover 
  {
    background:orangered;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px orangered,
                0 0 25px orangered,
                0 0 50px orangered,
                0 0 100px orangered;
  }
  
  input[type=checkbox]
  {
    color: chartreuse;
    
  }

  .se{
    color:#ad1945;
    font-size: 1.2VW;
    font-family: 'Akaya Telivigala', cursive;
    
  }

  .hidden, .hidden1, .hidden2, .hidden3, .hidden4, .hidden5, .hidden6, .hidden7
  {
    color: #F7FD04;
    font-size: 1VW;
    font-family: 'Akaya Telivigala', cursive;
    


  }

  